<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test page</title>
    </head>
    <body class="ng-cloak" ng-controller="AppController as app">
        <!-- <div ng-viewport="app"></div> -->
        {{app.title | lower}}
        {{app.title | upper}}
    </body>
</html>
