<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ractive demo</title>
        <script type="text/ractive" id="app-view">
          {{title}}
          <list items="{{items}}"></list>
          <button on-click="add()">Add</button>
          <input type="text" decorator="datetimepicker:{datepicker:true, mask:true, timepicker:false}" value="{{date}}"/>
        </script>
    </head>
    <body>
      <div id="container"></div>
      <script type="text/javascript" src="bundle.js"></script>
    </body>
</html>
